<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMida - Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="contenedor">
        <header class="cabecera animar-bajar">
            <h1>Rescate y Redistribución de Alimentos</h1>
            <p class="subtitulo"></p>
        </header>

        <div class="tarjeta-grid">
            <section class="tarjeta animar-subir delay-1">
                <h2><i class="fa-solid fa-chess-knight"></i> Nuestra Misión</h2>
                <p>Reducir el desperdicio de alimentos y combatir el hambre conectando excedentes de comida con quienes más lo necesitan de manera eficiente, segura y digna.</p>
            </section>

            <section class="tarjeta animar-subir delay-2">
                <h2><i class="fa-solid fa-screwdriver-wrench"></i>  ¿Cómo funciona?</h2>
                <ol>
                    <li><strong>Donantes</strong> registran alimentos en buen estado.</li>
                    <li><strong>Voluntarios</strong> los recogen y transportan.</li>
                    <li><strong>Organizaciones</strong> reciben y distribuyen la comida.</li>
                </ol>
            </section>

            <section class="tarjeta animar-subir delay-3">
                <h2><i class="fa-solid fa-signs-post"></i> ¿A quién llega?</h2>
                <ul>
                    <li>Comedores comunitarios</li>
                    <li>Hogares de ancianos</li>
                    <li>Refugios y casas hogar</li>
                    <li>Familias vulnerables</li>
                </ul>
                <p class="impacto">Mejoramos la nutrición de cientos de personas cada semana.</p>
            </section>
        </div>

        <div class="accion animar-subir delay-4">
            <a href="/formulario.html" class="boton-principal"><i class="fa-solid fa-arrows-rotate"></i> ¡Quiero Donar Alimentos!</a>
            <br><br>
        <a href="/listado" class="boton-principal btn-secundario">
            <i class="fa-solid fa-list"></i> Ver Listado de Donaciones
        </a>
        </div>
    </div>
</body>
</html>